VOCdevkit
data
err
out
class_metrics
jigsaw_metrics
temp.ipynb
val2014
logs
class_top_metrics
*.yaml
annotations
_coloring_models*
_jigsaw_models*
tests
*.jpg
coco_colors
*temp*
_err
_out

__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
.DS_Store
.env
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
node_modules/
dist/
build/
*.egg-info/
logs/*